.recipes-page-main {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  padding: 5vh 10vw
}

/* -----------------------header block */
.recipes-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 15px;
  
  height: 14rem;
  overflow: hidden;

  padding: 0.5rem;

  background-color: var(--base-yellow);
  /* box-shadow: 0px 1px 0px rgba(122, 122, 122, 0.448); */
  /* box-shadow: 0px 4px 2px rgb(214, 214, 214); */

  margin-bottom: 1rem;
}

.recipes-heading__text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  padding: 1rem;
  
  width: 35%;
}

.recipes-heading__title {
  font-family: "Gelasio", serif;
  font-size: 2.2rem;
  font-weight: 700;

  /* font-size: 2rem;
  font-weight: 450; */
  line-height: 1.1;
  margin: 0;

  width: 35%;
}
.recipe-heading__title--red {
  color: var(--accent-red);
}

.recipes-heading__subtitle {
  font-size: 0.9rem;
  letter-spacing: 0;
  line-height: 130%;
}

.recipes-heading__image-mask {
  width: 65%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.recipes-heading__image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.recipe-catalog {
  margin-top: 1rem;

  width: 100%;
  min-height: 40vh;
}

.recipe-catalog__empty {
  background-color: rgb(255, 242, 242);
  width: 100%;
  height: 12vh;
  border-radius: 10px;
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}
.recipe-catalog__empty-text {
  color: rgb(143, 143, 143);
}

.recipe-catalog__refresh-text {
  text-decoration: underline;
  color: rgb(143, 143, 143);  
}

.recipe-catalog__refresh-text:hover {
  cursor: pointer;
}

/* ----------------------3-state toggle */
.recipe-filter {
  display: inline-flex;
  align-self: flex-start;
  gap: 0.25rem;

  padding: 0.25rem;
  border-radius: 15px;
  background-color: var(--base-yellow);
}

.recipe-filter__option {
  border: none;
  background: transparent;
  cursor: pointer;

  padding: 0.65rem 1.45rem;
  border-radius: 15px;
  font-weight: 600;

  font-size: 0.82rem;
  color: rgb(146, 76, 76);

  /* transition: background-color 0.15s ease, color 0.15s ease; */
}

.recipe-filter__option:hover {
  /* color: rgb(173, 118, 118); */
  background-color: rgb(247, 230, 230);
}

.recipe-filter__option--active {
  background-color: var(--accent-red);
  color: white;
  box-shadow: 0px 1px 0px rgba(172, 150, 27, 0.381);
}
.recipe-filter__option--active:hover {
  background-color: var(--accent-red);
}

/* ----------------------search + filter row */
.recipe-search-row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 0.5rem;

  width: calc(5 / 7 * 100%);
}

/* search grows to fill remaining space */
.recipe-search-row__search {
  flex: 1 1 auto;
  min-width: 0;
}

/* combobox takes a smaller fixed share */
.recipe-search-row__combobox {
  flex: 1 0 33%;
  min-width: 0;
}

.recipe-search-row__combobox-trigger-icon {
  margin-left: auto; /*dropdown trigger automatically goes to right*/
}

/* -------------------recipe-card */
.recipe-catalog {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1rem;

  margin-bottom: 1rem;

  min-height: 32rem;
}

.recipe-catalog__pagination--disabled {
  pointer-events: none;
  opacity: 0.2;
}

@media(max-width: 1050px) {
  .recipe-catalog {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (max-width: 800px) {
  .recipes-page-main {
    padding: 1rem 1rem;
  }
  .recipes-heading {
    gap: 1rem;
  }
  .recipe-catalog {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .recipe-search-row {
    width: 100%;
  }
  .recipe-search-row__combobox {
    flex-grow: 1;
  }
}
@media (max-width: 600px) {
  .recipes-page-main {
    padding: 1rem 1rem;
  }
  .recipe-catalog {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .recipe-search-row {
    width: 100%;
  }
  .recipe-search-row__combobox {
    flex-grow: 1;
  }
}